sam/app-decompose-for-parallelism/statemachine/runner-simplewait.asl.json
  {
    "Comment": "A state machine that stands in for running an actual test. This one will simply wait for 5 seconds or for the number or seconds requested in the input.",
    "StartAt": "VerifyInput",
    "States": {
            "VerifyInput": {
              "Type": "Choice",
              "Choices": [
                {
                    "And": [
                    {
                      "Variable": "$.test-input.delay-seconds",
                      "IsPresent": true
                    },
                    {
                      "Variable": "$.test-input.delay-seconds",
                      "IsNumeric": true
                    }
                  ],
                  "Next": "RunTest"
                }
              ],
              "Default": "GenerateDefaultTestInput"
              
            },
            "GenerateDefaultTestInput": {
              "Type": "Pass",
              "Parameters": {
                "delay-seconds": 5
              },
              "ResultPath": "$.test-input",
              "Next": "RunTest"
            },
            "RunTest": {
              "Type": "Wait",
              "SecondsPath": "$.test-input.delay-seconds",
              "End": true
            }
      }
    }